@model AccountingOfMaterials.Models.GroupOfMaterial
@{
    ViewBag.Title = "Добавление материала";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div style="margin-left: 50px">
    <h2>Добавление материала</h2>
    <form asp-action="create" asp-controller="home" method="post">
        <p>
            <label>Наименование</label><br />
            <input name="name" />
        </p>
        <p style="margin-top: 30px">
            <label>Описание</label><br />
            <textarea name="description" cols="30" rows="7"></textarea>
        </p>
        <p>
            <label>Группа</label>
            <select name="nameGroup" asp-items="ViewBag.Group"></select>
        </p>
        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </form>
</div>